<template>
  <div class="chart-container">
    <div class="chart-body">
      <div class="chart-body-header">
        <el-menu :default-active="'2'" class="el-menu-demo" mode="horizontal" @select="handleSelect">
          <el-menu-item index="2">
            Danh sách lệnh
          </el-menu-item>
          <el-menu-item index="1">Thị trường</el-menu-item>
        </el-menu>
      </div>
      <!-- TradingView Widget BEGIN -->
      <div v-if="layout == 1">
        <!-- TradingView Widget BEGIN -->
        <div class="tradingview-widget-container">
          <div class="tradingview-widget-container__widget"></div>
          <!--          <div class="tradingview-widget-copyright"><a href="https://vn.tradingview.com" rel="noopener" target="_blank"><span class="blue-text">CHÂU MỸ</span></a> <span class="blue-text">và</span> <a href="https://vn.tradingview.com" rel="noopener" target="_blank"><span class="blue-text">CHÂU ÂU</span></a> bởi TradingView</div>-->
          <script type="text/javascript"
                  src="https://s3.tradingview.com/external-embedding/embed-widget-market-overview.js" async>
            {
              "colorTheme"
            :
              "light",
                "dateRange"
            :
              "12M",
                "showChart"
            :
              true,
                "locale"
            :
              "vi_VN",
                "largeChartUrl"
            :
              "",
                "isTransparent"
            :
              false,
                "showSymbolLogo"
            :
              true,
                "showFloatingTooltip"
            :
              false,
                "width"
            :
              "100%",
                "height"
            :
              "660",
                "plotLineColorGrowing"
            :
              "rgba(41, 98, 255, 1)",
                "plotLineColorFalling"
            :
              "rgba(41, 98, 255, 1)",
                "gridLineColor"
            :
              "rgba(42, 46, 57, 0)",
                "scaleFontColor"
            :
              "rgba(120, 123, 134, 1)",
                "belowLineFillColorGrowing"
            :
              "rgba(41, 98, 255, 0.12)",
                "belowLineFillColorFalling"
            :
              "rgba(41, 98, 255, 0.12)",
                "belowLineFillColorGrowingBottom"
            :
              "rgba(41, 98, 255, 0)",
                "belowLineFillColorFallingBottom"
            :
              "rgba(41, 98, 255, 0)",
                "symbolActiveColor"
            :
              "rgba(41, 98, 255, 0.12)",
                "tabs"
            :
              [
                {
                  "title": "CHÂU Á",
                  "symbols": [
                    {
                      "s": "HNX:HNXINDEX"
                    },
                    {
                      "s": "NYSE:AXS"
                    },
                    {
                      "s": "KRX:KRXV"
                    },
                    {
                      "s": "TPEX:IX0118"
                    }
                  ],
                  "originalTitle": "Indices"
                },
                {
                  "title": "CHÂU MỸ",
                  "symbols": [
                    {
                      "s": "SKILLING:NASDAQ"
                    },
                    {
                      "s": "NASDAQ:CME"
                    },
                    {
                      "s": "CSE:CSE25"
                    },
                    {
                      "s": "TSX:TSX"
                    }
                  ]
                },
                {
                  "title": "CHÂU ÂU",
                  "symbols": [
                    {
                      "s": "FXOPEN:GDAXIM"
                    },
                    {
                      "s": "FXOPEN:FCHI"
                    },
                    {
                      "s": "NEWCONNECT:BER"
                    },
                    {
                      "s": "EURONEXT:MUN"
                    }
                  ]
                }
              ]
            }
          </script>
        </div>
        <!-- TradingView Widget END -->
      </div>
      <div v-else class="chart-command">
        <el-menu :default-active="'1'" class="el-menu-demo" mode="horizontal" @select="">
          <el-menu-item class="command-menu-item" index="1">
            Khuyến nghị mua
          </el-menu-item>
          <!--          <el-menu-item index="2">Lệnh bán</el-menu-item>-->
        </el-menu>
        <!--        <div class="command-body">-->
        <!--          <div class="command-item" v-for="(msg, index) in messages">-->
        <!--            <div :class="{'command-item-mr-top': index != 0}" style="padding: 10px 15px;">-->
        <!--              <span>{{ msg.message.replaceAll('%20', ' ') }}</span>-->
        <!--            </div>-->
        <!--          </div>-->
        <!--          <infinite-loading @infinite="onScrollChart"></infinite-loading>-->
        <!--        </div>-->
        <div class="command-body infinite-wrapper">
          <div class="command-item" v-for="(msg, index) in messages">
            <div :class="{'command-item-mr-top': index != 0}" style="padding: 10px 15px;">
              <span>{{ msg.message.replaceAll('%20', ' ') }}</span>
            </div>
          </div>
          <infinite-loading force-use-infinite-wrapper=".infinite-wrapper" @infinite="onScrollChart"></infinite-loading>
        </div>
      </div>
    </div>
    <!-- TradingView Widget END -->
  </div>
</template>

<script>
import commandApi from "../../apis/command";

export default {
  name: "Chart",
  data() {
    return {
      layout: 0,
      messages: [],
      paginate: {
        page: 1,
        limit: 20,
        total: 0,
      },
      list: [],
    }
  },
  mounted() {
    this.listCommand();
    // this.authenticate();
    this.getIdToken();
    this.$nextTick(() => {
      this.layout = 2;
    });
  },
  methods: {
    async getIdToken() {
      let currentToken
      try {
        currentToken = await this.$fire.messaging.getToken();

        await commandApi.sendToken({
          device_token: currentToken,
        });

        this.$fire.messaging.onMessage((payload) => {
          this.messages.unshift(payload.data.replaceAll('%20', ' '));
        });
      } catch (e) {
        console.error('An error occurred while retrieving token. ', e)
      }
    },

    handleSelect(key, keyPath) {
      this.layout = key;
    },

    listCommand($state = '') {
      commandApi.listCommand({type: 'buy', page: this.paginate.page}).then(commands => {
        if (this.paginate.page <= 1) {
          this.messages = commands.rows;
        } else {
          this.messages = this.messages.concat(commands.rows);
        }

        if ($state && commands.rows.length > 0) {
          $state.loaded();
        } else {
          $state.complete();
        }
      }).catch(error => {
        if ($state) {
          $state.complete();
        }
      });
    },

    //Load thêm sản phẩm khi đến cuối scroll trong danh sách
    onScrollChart($state) {
      this.paginate.page++
      this.listCommand($state);
    },
  }
}
</script>

<style lang="less" scoped>
.chart-container {
  padding-top: 25px;

  .chart-body {
    //margin-top: 10px;

    .chart-command {
      margin-left: 15px;

      .command-menu-item {
        font-size: 14px;
      }

      .command-body {
        margin-top: 10px;
        max-height: calc(100vh - 150px);
        overflow-y: scroll;
      }

      .command-body::-webkit-scrollbar {
        width: 6px;
        //background-color: #F5F5F5;
      }

      .command-body::-webkit-scrollbar-track {
        border-radius: 10px;
        //background: rgba(0,0,0,0.1);
        //border: 1px solid #ccc;
      }

      .command-body::-webkit-scrollbar-thumb:hover {
        background: #fff;
      }

      .command-body::-webkit-scrollbar-thumb {
        border-radius: 10px;
        background: #F5F5F5;
        border: 1px solid #d7d7d7;
      }

      .command-item {
        width: 100%;
        background: #ebf1f5;
        min-height: 50px;
        word-break: normal;
        border-radius: 10px;
        //margin-top: 10px;
        line-height: 28px;

        .command-item-mr-top {
          margin-top: 10px;
        }
      }
    }

    .chart-body-header {
      font-weight: bold;
      font-size: 18px;
    }
  }
}
</style>

<style lang="less">
@import "../../assets/less/common/color";

.chart-container {
  margin-left: 15px;

  .tradingview-widget-container {
    overflow: hidden;
    position: relative;

    iframe {
      position: absolute;
      inset: -4px;
      width: calc(100% + 10px) !important;
    }
  }

  .el-menu {
    position: unset;
  }

  .el-menu--horizontal > .el-menu-item {
    height: 40px;
    line-height: 40px;
    color: #121213;
  }

  .el-menu-item {
    font-size: 16px;
    padding: 0 10px;
  }

  .el-menu.el-menu--horizontal {
    border-bottom: none;
  }

  .el-menu-item {
    padding: 0 !important;
    margin-right: 20px;
  }

  .el-menu--horizontal > .el-menu-item.is-active {
    border-bottom: 3px solid @purple-color;
    color: @purple-color;
  }
}
</style>
