<template>
  <el-dialog class="detail-container" :visible.sync="visible1">
    <div slot="title" style="display: flex">
      <div style="color: #5c7080; cursor: pointer; display: flex; align-items: center">
        <svg data-icon="arrow-left" width="16" height="16" viewBox="0 0 16 16"><desc>arrow-left</desc><path d="M13.99 6.99H4.41L7.7 3.7a1.003 1.003 0 00-1.42-1.42l-5 5a1.014 1.014 0 000 1.42l5 5a1.003 1.003 0 001.42-1.42L4.41 8.99H14c.55 0 1-.45 1-1s-.46-1-1.01-1z" fill-rule="evenodd"></path></svg>
      </div>
      <span style="margin-left: 10px; font-size: 18px;font-weight: 600">Chi tiết</span>
    </div>
    <div style="height: 500px; overflow-y: auto">
      <span class="detail-title">{{ postDetail.title }}</span>
      <p style="color: #5c7080">Tạp chí tài chính | Khoảng 2 tiếng</p>
      <div style="font-size: 18px; padding-top: 10px; line-height: 1.6" v-html="dataDetail.originalContent"></div>
    </div>
  </el-dialog>
</template>

<script>
import detailApi from "../../apis/news"

export default {
  name: "Detail",
  props: [
    'visible',
    'postDetail'
  ],
  data() {
    return {
      visible1: this.visible,
      dataDetail: [],
    };
  },
  mounted() {
    this.getDetailPost();
  },
  methods: {
    async getDetailPost() {
      this.dataDetail = await detailApi.detailPost({
        id: this.postDetail._id
      });
    }
  }
}
</script>

<style lang="less" scoped>
.detail-container {
  .detail-title {
    font-size: 26px;
    font-weight: 600;
    line-height: 1.5;
    margin-bottom: 15px;
    color: #182026;
  }

  strong {
    font-weight: 600;
    font-size: 16px;
    color: #182026;
  }
}
</style>

<style lang="less">
  .detail-container {
    .el-dialog__header {
      padding: 10px 20px;
      box-shadow: 0 1px 0 rgb(16 22 26 / 15%);
      border-bottom: 1px solid rgba(130, 150, 160, 0.5);
    }

    .el-dialog__headerbtn {
      top: 12px;
    }

    .el-dialog__body {
      word-break: normal;
      background: #ebf1f5;
      padding: 20px 20px;
      color: #182026;;
    }
  }
</style>
