<template>
  <div class="home-main-container">
    <div class="_new">
      <News></News>
    </div>
    <div>
      <Chart></Chart>
    </div>
  </div>
</template>

<script>
import News from "./News";
import Chart from "./Chart";

export default {
  name: "Home",
  components: {
    News,
    Chart
  }
}
</script>

<style lang="less" scoped>
.home-main-container {
  padding-left: 10px;
  height: calc(100vh);

  ._new {
    border-right: 1px solid rgba(130, 150, 160, 0.15);
  }
}
</style>
