<template>
  <div class="news-container">
    <div class="news-body">
      <el-menu :default-active="activeIndex" class="el-menu-demo" mode="horizontal" @select="handleSelect">
        <el-menu-item index="0">Tin nổi bật</el-menu-item>
        <el-menu-item v-for="category in categories" :index="category._id + ''" :key="category.postID">
          {{ category.name }}
        </el-menu-item>
      </el-menu>
      <div v-if="!loading" class="news-content">
        <div class="news-items" v-for="post in posts" :key="post._id" @click="openDialog(post)">
          <div class="news-avatar">
            <el-avatar shape="square" :size="120" :src="imageFilter(post)"></el-avatar>
          </div>
          <div class="news-items-content">
            <div class="tagged-symbols">
              <div :class="{'symbols': index > 0}" v-if="index < 2" v-for="(tagged, index) in post.taggedSymbols">
                <span>{{ tagged.symbol }} </span>
                <span
                  :class="setClass(tagged.percentChange)">{{ toFixedPercent(tagged.percentChange) }}</span>
              </div>
            </div>
            <div class="news-items-title">
              <a>{{ post.title }}</a>
            </div>
            <div class="news-items-des">
              {{ post.description }}
            </div>
            <div class="news-items-time">
              <time>{{ post.timeSpace }}</time>
            </div>
          </div>
        </div>
        <infinite-loading @infinite="onScrollNew"></infinite-loading>
      </div>
      <!--      <Spinner v-else></Spinner>-->
    </div>
    <!--    <Spinner v-if="loadingPost"></Spinner>-->
    <el-dialog class="detail-container" :visible.sync="visible">
      <div slot="title" style="display: flex">
        <div style="color: #5c7080; cursor: pointer; display: flex; align-items: center" @click="visible = false">
          <svg data-icon="arrow-left" width="16" height="16" viewBox="0 0 16 16">
            <desc>arrow-left</desc>
            <path
              d="M13.99 6.99H4.41L7.7 3.7a1.003 1.003 0 00-1.42-1.42l-5 5a1.014 1.014 0 000 1.42l5 5a1.003 1.003 0 001.42-1.42L4.41 8.99H14c.55 0 1-.45 1-1s-.46-1-1.01-1z"
              fill-rule="evenodd"></path>
          </svg>
        </div>
        <span style="margin-left: 10px; font-size: 18px;font-weight: 600">Chi tiết</span>
      </div>
      <div style="height: 80vh; overflow-y: auto; padding: 24px">
        <span class="detail-title">{{ postDetail.title }}</span>
        <div style="display: flex; justify-content: space-between;align-items: center; margin-top: 12px;">
          <div style="color: #5c7080">
            {{ findCateName(dataDetail && dataDetail.post ? dataDetail.post.categoryObjectID : '') }} | {{
              dataDetail.post ? dataDetail.post.timeSpace : 0
            }}
          </div>
          <div @click="copyClipboard()" style="cursor: pointer; font-size: 14px; font-weight: bold; color: #106ba3">
            <span>Sao chép liên kết</span>
            <i class="el-icon-document-copy" type="primary"></i>
          </div>
        </div>

        <div style="font-size: 18px; padding: 24px 0; line-height: 1.6"
             v-html="dataDetail.originalContent ? dataDetail.originalContent : dataDetail.content"></div>
      </div>
    </el-dialog>
  </div>
</template>

<script>
import categoryApi from "../../apis/category";
import newsApi from "../../apis/news";
import Detail from "./Detail";
import Spinner from "../common/Spinner";
import moment from "moment"
import detailApi from "../../apis/news";

export default {
  name: "News",
  components: {Detail, Spinner},
  data() {
    return {
      loading: false,
      loadingPost: false,
      categories: [],
      posts: [],
      paginate: {
        page: 1,
        limit: 20,
        total: 0,
      },
      activeIndex: "0",
      visible: false,
      postDetail: [],
      dataDetail: [],
      timeSpace: 0,
      textSearch: '',
    }
  },
  created() {
    this.$bus.$on('event-search', (text) => {
      this.textSearch = text;
      this.getListPosts();
    });
  },
  mounted() {
    this.getListCategories();
    this.getListPosts();
  },
  watch: {
    visible(status) {
      if (!status) {
        this.$router.push({path: '', hash: ''});
      }
    }
  },
  methods: {
    imageFilter(post) {
      if (post.images.length) {
        if (post.images[0].imageUrl) {
          return post.images[0].imageUrl
        } else {
          return 'https://static.fireant.vn/posts/image/' + post.images[0].imageID + '?width=210&height=180';
        }
      } else {
        return ''
      }
    },

    toFixedPercent(percentChange) {
      if (percentChange && percentChange >= 0) {
        return '+' + percentChange.toFixed(2) + '%'
      } else {
        return percentChange ? percentChange.toFixed(2) + '%' : '0.00%'
      }
    },
    setClass(percentChange) {
      if (percentChange > 0) {
        if (percentChange >= 6.8) {
          return 'percent-up-ceiling'
        } else {
          return 'percent-up'
        }
      } else if (percentChange === 0) {
        return 'percent';
      } else {
        if (percentChange >= -6.8) {
          return 'percent-down'
        } else {
          return 'percent-down-floor'
        }
      }
    },

    openDialogDefault() {
      this.visible = true;
      this.getDetailPost(this.$route.hash.replace('#', ''));
    },

    openDialog(post) {
      this.visible = true;
      this.$router.push({path: '', hash: '' + post._id});
      this.getDetailPost(post._id);
    },

    handleSelect(key, keyPath) {
      this.activeIndex = key;
      this.paginate.page = 1;
      this.getListPosts();
    },

    async getDetailPost(_id) {
      this.dataDetail = await detailApi.detailPost({
        id: _id
      });

      this.dataDetail.post = this.calcTimeSpace(this.dataDetail.post);
      this.postDetail = this.dataDetail.post;
    },

    async getListCategories() {
      try {
        this.categories = await categoryApi.getListCategory();
        this.categories = this.categories.filter(row => row.f_group_id !== 7)
      } catch (err) {
      }
    },

    //Danh sách bài viết
    async getListPosts($state = '') {
      if (this.paginate.page === 1) {
        this.loading = true;
      }
      try {
        const posts = await newsApi.getListPost({
          name: this.textSearch,
          categoryObjectID: this.activeIndex == "0" ? '' : this.activeIndex,
          page: this.paginate.page
        });

        posts.rows = posts.rows.map(row => {
          // moment.now();
          row = this.calcTimeSpace(row);

          return row;
        });

        this.paginate.total = posts.paginate.total_record;

        if (this.paginate.page <= 1) {
          this.posts = posts.rows;
        } else {
          this.posts = this.posts.concat(posts.rows);
        }

        if ($state && posts.rows.length > 0) {
          $state.loaded();
        } else {
          $state.complete();
        }
      } catch (err) {
        this.loading = false;
        this.loadingPost = false;
        if ($state) {
          $state.complete();
        }
      } finally {
        if (this.$route.hash) {
          this.openDialogDefault()
        }
        this.loading = false;
        this.loadingPost = false;
      }
    },

    calcTimeSpace(row) {
      let oldTime = moment(row.date);
      let newTime = moment.now();

      row.timeType = 1;
      let timeSpace = Math.abs(oldTime.diff(newTime, "minute"));

      if (timeSpace > 60) {
        row.timeType = 2;
        timeSpace = Math.abs(oldTime.diff(newTime, "hour"));
        row.timeSpace = 'Khoảng ' + timeSpace + ' tiếng';

        if (oldTime.format('DD-MM-YYYY') == moment().subtract(1, 'days').format('DD-MM-YYYY')) {
          {
            row.timeSpace = oldTime.calendar();
          }
        }

        if (timeSpace > Math.abs(moment().subtract(1, 'days').startOf('days').diff(newTime, 'hour'))) {
          row.timeSpace = oldTime.format('DD/MM') + ' lúc ' + oldTime.format('LT');
        }
      } else {
        row.timeSpace = timeSpace + ' phút';
      }

      return row;
    },

    //Load thêm sản phẩm khi đến cuối scroll trong danh sách
    onScrollNew($state) {
      this.loadingPost = true;
      this.paginate.page = this.paginate.page + 1;
      this.getListPosts($state);
    },

    findCateName(cateId) {
      if (cateId) {
        let cate = '';
        this.categories.forEach((item) => {
          if (item._id === cateId) {
            cate = item.name;
          }
        });

        if (cate) return cate;
      }

      return ''
    },

    copyClipboard() {
      let text = process.env.clientUrl + this.$route.fullPath;

      function selectElementText(element) {
        if (document.selection) {
          var range = document.body.createTextRange();
          range.moveToElementText(element);
          range.select();
        } else if (window.getSelection) {
          var range = document.createRange();
          range.selectNode(element);
          window.getSelection().removeAllRanges();
          window.getSelection().addRange(range);
        }
      }

      const element = document.createElement('DIV');
      element.textContent = text;
      document.body.appendChild(element);
      selectElementText(element);
      document.execCommand('copy');
      element.remove();
      this.$message.success('Copy thành công');
    }
  },
  // destroyed() {
  //   window.removeEventListener('scroll', this.onScroll);
  // },
}
</script>

<style lang="less" scoped>
@import "../../assets/less/common/color";

.news-container {
  padding-top: 25px;
  padding-right: 15px;

  .news-body {
    .news-content {
      .news-items {
        display: flex;
        flex: 1 1 0%;
        flex-direction: row;
        height: 100%;
        padding: 30px 10px;
        border-bottom: 1px solid rgba(130, 150, 160, 0.15);
        cursor: pointer;

        .news-avatar {
          margin-right: 15px;
        }

        .news-items-content {
          .tagged-symbols {
            margin-bottom: 3px;
            white-space: nowrap;
            align-items: center;
            display: flex;
            font-size: 14px;
            font-weight: 400;

            .symbols {
              margin-left: 10px;
            }

            .percent-up-ceiling {
              color: rgb(255, 0, 255);
              margin-right: 5px;
            }

            .percent-up {
              color: rgb(0, 170, 0);
              margin-right: 5px;
            }

            .percent {
              color: rgb(204, 170, 0);
              margin-right: 5px;
            }

            .percent-down {
              color: rgb(238, 84, 66);
              margin-right: 5px;
            }

            .percent-down-floor {
              color: rgb(0, 204, 204);
              margin-right: 5px;
            }
          }

          .news-items-title {
            font-size: 20px;
            font-weight: 550;
            line-height: 1.5;
            margin-bottom: 5px;
            display: -webkit-box;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
            overflow: hidden;

            a {
              color: @purple-color;
            }
          }

          .news-items-des {
            font-size: 16px;
            line-height: 1.5;
            margin-bottom: 5px;
            display: -webkit-box;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
            overflow: hidden;
          }

          .news-items-time {
            color: #5c7080;
            font-size: 14px;
          }
        }
      }
    }
  }

  .detail-container {
    .detail-title {
      font-size: 26px;
      font-weight: 600;
      line-height: 1.5;
      margin-bottom: 15px;
      color: #182026;
    }

    strong {
      font-weight: 600;
      font-size: 16px;
      color: #182026;
    }
  }
}
</style>

<style lang="less">
@import "../../assets/less/common/color";

.news-container {
  .el-menu {
    position: unset;
  }

  .el-menu--horizontal > .el-menu-item {
    height: 40px;
    line-height: 40px;
  }

  .el-menu-item {
    font-size: 16px;
    padding: 0 10px;
  }

  .el-menu.el-menu--horizontal {
    border-bottom: none;
  }

  .el-menu-item {
    padding: 0 !important;
    margin-right: 20px;
  }

  .el-menu--horizontal > .el-menu-item.is-active {
    border-bottom: 3px solid @purple-color;
    color: @purple-color;
  }

  .el-menu--horizontal > .el-menu-item {
    color: #121213;
  }

  .el-dialog {
    border-radius: 10px;
    width: 60%;
    margin-top: 4vh !important;
  }

  .el-dialog__body {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    padding: 0 20px;
  }
}
</style>
