<template>
</template>

<script>
// import Admin from "../../layouts/AdminDefault";
export default {
  name: "index",
  // components: {Admin},
  layout: 'Admin',
  middleware: ['auth-admin'],
  created() {
    this.$router.push('/admin/categories');
  }
}
</script>

<style scoped>

</style>
