<template>
  <div>
    <el-table
      :data="listCategories"
      style="width: 100%; margin-bottom: 20px"
      :row-class-name="tableRowClassName">
      <el-table-column prop="name" label="Tên Danh Mục"></el-table-column>
      <el-table-column align="right">
        <template #default="scope">
          <el-button size="mini" @click="updateCategory(scope.row)">Sửa</el-button>
          <el-popconfirm
            confirm-button-text="Đồng ý"
            cancel-button-text="Không, cảm ơn"
            @confirm="deleteCategory(scope.row._id)"
            title="Bạn có chắc chắn muốn xóa danh mục này?"
          >
            <el-button slot="reference" size="mini" type="danger">Xóa</el-button>
          </el-popconfirm>
        </template>
      </el-table-column>
    </el-table>
    <el-dialog
      title="Thêm danh mục"
      :visible.sync="dialogVisible"
      width="30%">
      <p>Tên danh mục</p>
      <el-input v-model="cateUpdate.name"></el-input>
      <span slot="footer" class="dialog-footer">
        <el-button @click="dialogVisible = false">Hủy</el-button>
        <el-button type="primary" @click="update()">Cập nhật</el-button>
      </span>
    </el-dialog>
  </div>
</template>

<script>
import apiCategories from "../../../apis/category"

export default {
  name: "ListCategories",
  data() {
    return {
      currentPage: 1,
      listCategories: [],
      cateUpdate: {
        name: '',
        _id: ''
      },
      dialogVisible: false
    }
  },
  created() {
    this.getListCategories();
  },
  methods: {
    tableRowClassName({row, rowIndex}) {
      if (rowIndex === 1) {
        return 'warning-row'
      } else if (rowIndex === 3) {
        return 'success-row'
      }
      return ''
    },

    async getListCategories() {
      try {
        this.listCategories = await apiCategories.getListCategoryWithAuth({page: this.currentPage});
      } catch (err) {
        console.log('list cate err', err)
      }
    },

    async deleteCategory(id) {
      try {
        await apiCategories.deleteCate({cateId: id});
      } catch (err) {
        this.$message.error('Xóa danh mục thất bại!');
        console.log('delete cate err', err)
      } finally {
        await this.getListCategories();
        this.$message.success('Xóa danh mục thành công!');
      }
    },

    updateCategory(row) {
      this.dialogVisible = true;
      this.cateUpdate.name = row.name;
      this.cateUpdate._id = row._id;
    },

    async update() {
      try {
        await apiCategories.updateCategory(this.cateUpdate);
      } catch (err) {
        this.$message.error('Cập nhật danh mục thất bại!');
        console.log('delete cate err', err)
      } finally {
        await this.getListCategories();
        this.dialogVisible = false;
        this.$message.success('Cập nhật danh mục thành công!');
      }
    }
  }
}
</script>

<style scoped>

</style>
