<template>
  <div class="login">
    <el-row justify="center">
      <el-col :span="24">
        <div class="w3layoutscontaineragileits">
          <h2>ĐĂNG NHẬP</h2>
          <el-form :model="ruleForm" :rules="rules" ref="ruleForm" class="demo-ruleForm">
            <el-form-item style="margin-bottom: 10px" prop="email">
              <el-input autofocus placeholder="EMAIL" v-model="ruleForm.username">
                <template #suffix>
                  <el-icon :size="25">
<!--                    <Message/>-->
                  </el-icon>
                </template>
              </el-input>
            </el-form-item>
            <el-form-item prop="password">
              <i class="el-input__icon el-icon-view el-input__clear"></i>
              <el-input placeholder="MẬT KHẨU" show-password v-model="ruleForm.password">
                <template #suffix>
                  <el-icon :size="25">
<!--                    <Lock/>-->
                  </el-icon>
                </template>
              </el-input>
            </el-form-item>
            <el-button class="button-login" type="primary" @click="submitForm('ruleForm')">ĐĂNG NHẬP</el-button>
          </el-form>
        </div>
      </el-col>
    </el-row>
  </div>
</template>
<script>
// import {Message, Lock} from '@element-plus/icons';
// import apiLogin from '../../api/auth';

export default {
  name: "login",
  data() {
    return {
      ruleForm: {
        email: '',
        password: ''
      },
      rules: {
        // email: [
        //   {
        //     required: true,
        //     message: 'Vui lòng nhập địa chỉ email',
        //     trigger: 'blur',
        //   },
          // {
          //   min: 3,
          //   max: 5,
          //   message: 'Length should be 3 to 5',
          //   trigger: 'blur',
          // },
        // ],
        password: [
          {
            required: true,
            message: 'Vui lòng nhập password',
            trigger: 'blur',
          },
          {
            min: 3,
            max: 20,
            message: 'Chiều dài từ 8-20 ký tự',
            trigger: 'blur',
          },
        ],
      }
    }
  },
  methods: {
    submitForm(formName) {
      this.$refs[formName].validate(async (valid) => {
        if (valid) {
          const auth = await this.$store.dispatch('auth/AUTH_REQUEST', this.ruleForm);

          if(auth.status) {
            return this.$router.push('/admin/categories')
          }else {
            return this.$message.error('Đăng nhập thất bại!')
          }
        } else {
          console.log('error submit!!')
          return false;
        }
      })
    },
    resetForm(formName) {
      this.$refs[formName].resetFields()
    },
  },
}
</script>
<style lang="less">
.login {
  height: 100vh;
  background: url("assets/images/background/chungkhoan40.jpeg") no-repeat fixed center;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  color: #FFF;
  text-align: center;

  //.button-login {
  //  background: $greenColor;
  //  border-color: $greenColor;
  //}

  .el-input__clear {
    display: none;
  }

  .el-icon {
    margin-top: 5px;
  }

  .w3layoutscontaineragileits {
    width: 40%;
    margin: 100px auto;
    background: rgba(0, 0, 0, 0.5);
    padding: 30px;

    h2 {
      font-size: 35px;
      font-weight: 300;
      margin-bottom: 30px;
      color: #fff;
      text-transform: uppercase;
    }

    input[type="text"] {
      width: 84%;
      padding: 15px 10px 15px;
      font-size: 14px;
      background: transparent;
      border: 2px solid #537b35;
      outline: none;
      margin-bottom: 26px;
      color: #fff;
      font-family: 'Quicksand', sans-serif;
    }

    input[type="password"], input[type="email"] {
      width: 84%;
      padding: 15px 10px 15px;
      font-size: 14px;
      background: transparent;
      border: 2px solid #537b35;
      outline: none;
      margin-bottom: 26px;
      color: #fff;
      font-family: 'Quicksand', sans-serif;
    }

    ul.agileinfotickwthree {
      list-style: none;
      display: inline-block;
      width: 100%;
      margin-bottom: 40px;
      text-align: left;
      padding-left: 10px;
    }

    ul.agileinfotickwthree li input[type="checkbox"] + label {
      position: relative;
      padding-left: 50px;
      border: #F0F8FF;
      display: inline-block;
      font-size: 15px;
      color: #fff;
    }
  }

}
</style>
