<template>
  <el-header class="header-container">
    <div class="header-left">
      <div class="header-logo">
        <div class="main-logo">
          <div class="logo">
            <img style="width: 160px; height: 40px" src="~/assets/images/logo/logo.png">
            <!--            <svg width="150" height="28" viewBox="0 0 150 28" fill="none" xmlns="http://www.w3.org/2000/svg">-->
            <!--              <path fill-rule="evenodd" clip-rule="evenodd" d="M78.3145 19.4527V8.34871H88.0859C88.9399 8.34871 89.6122 8.52737 90.0381 8.8856C90.405 9.18382 90.6499 9.78071 90.6499 10.498V13.0052C90.6499 13.722 90.405 14.3185 90.0381 14.6167C89.6122 14.9754 88.9399 15.1536 88.0859 15.1536H80.9399V19.4527H78.3145ZM86.864 10.2589H80.9399V13.2429H86.864C87.3518 13.2429 87.6577 13.1847 87.8418 13.0052C87.964 12.8856 88.0859 12.6465 88.0859 12.3483V11.154C88.0859 10.8554 87.964 10.6163 87.8418 10.498C87.6577 10.3189 87.3518 10.2589 86.864 10.2589Z" fill="#828282"/>-->
            <!--              <path fill-rule="evenodd" clip-rule="evenodd" d="M92.8647 19.4527V8.34871H102.575C103.492 8.34871 104.162 8.52737 104.588 8.8856C104.956 9.18382 105.201 9.78071 105.201 10.498V13.1243C105.201 13.8998 104.956 14.4385 104.588 14.7367C104.162 15.0945 103.492 15.2736 102.575 15.2736H101.109L106.362 19.4527H102.575L97.9952 15.2736H95.4893V19.4527H92.8647ZM101.415 10.2589H95.4893V13.3634H101.415C101.902 13.3634 102.209 13.3029 102.391 13.1847C102.513 13.0647 102.637 12.8256 102.637 12.4683V11.154C102.637 10.8554 102.513 10.6163 102.391 10.498C102.209 10.3189 101.902 10.2589 101.415 10.2589Z" fill="#828282"/>-->
            <!--              <path fill-rule="evenodd" clip-rule="evenodd" d="M108.316 19.4527V8.34871H119.978V10.2589H111.002V12.7065H116.253V14.6167H111.002V17.3629H120.1V19.4527H108.316Z" fill="#828282"/>-->
            <!--              <path fill-rule="evenodd" clip-rule="evenodd" d="M132.507 10.3189H125.058V12.7065H132.142C133.24 12.7065 134.034 12.8856 134.401 13.2434C134.826 13.6025 135.011 14.3185 135.011 15.3336V16.8265C135.011 17.8398 134.826 18.5563 134.401 18.9154C134.034 19.2736 133.24 19.4527 132.142 19.4527H125.121C124.02 19.4527 123.29 19.2736 122.86 18.9154C122.495 18.5563 122.311 17.8398 122.311 16.8265V16.5269L124.633 16.05V17.3629H132.631V14.8558H125.547C124.449 14.8558 123.717 14.6767 123.35 14.2589C122.921 13.8998 122.737 13.2434 122.737 12.2287V10.9754C122.737 9.96071 122.921 9.30382 123.35 8.9456C123.717 8.52737 124.449 8.34871 125.547 8.34871H132.019C133.118 8.34871 133.851 8.52737 134.218 8.8856C134.643 9.24382 134.826 9.90071 134.826 10.7954V11.0354L132.507 11.5718V10.3189Z" fill="#828282"/>-->
            <!--              <path fill-rule="evenodd" clip-rule="evenodd" d="M147.556 10.3189H140.109V12.7065H147.192C148.291 12.7065 149.024 12.8856 149.449 13.2434C149.817 13.6025 150 14.3185 150 15.3336V16.8265C150 17.8398 149.817 18.5563 149.449 18.9154C149.024 19.2736 148.291 19.4527 147.192 19.4527H140.17C139.071 19.4527 138.279 19.2736 137.91 18.9154C137.481 18.5563 137.301 17.8398 137.301 16.8265V16.5269L139.623 16.05V17.3629H147.679V14.8558H140.597C139.499 14.8558 138.764 14.6767 138.339 14.2589C137.972 13.8998 137.788 13.2434 137.788 12.2287V10.9754C137.788 9.96071 137.972 9.30382 138.339 8.9456C138.764 8.52737 139.499 8.34871 140.597 8.34871H147.069C148.108 8.34871 148.839 8.52737 149.267 8.8856C149.694 9.24382 149.879 9.90071 149.879 10.7954V11.0354L147.556 11.5718V10.3189Z" fill="#828282"/>-->
            <!--              <path fill-rule="evenodd" clip-rule="evenodd" d="M61.1093 19.4527L66.4825 13.7812L60.9871 8.34871H64.5289L68.133 12.1092L71.6116 8.34871H74.603L69.6584 13.4825L75.8253 19.4527H72.2225L68.0721 15.1536L64.2234 19.4527H61.1093Z" fill="#828282"/>-->
            <!--              <path fill-rule="evenodd" clip-rule="evenodd" d="M6.59501 19.4527L0 8.34871H3.05319L7.63274 16.4078L12.0287 8.34871H14.6541L8.42638 19.4527H6.59501Z" fill="#828282"/>-->
            <!--              <path fill-rule="evenodd" clip-rule="evenodd" d="M16.7261 19.4527V8.34871H18.4965L26.4947 14.9154C26.8006 15.1536 27.0461 15.3331 27.2284 15.5127C27.4729 15.6914 27.6556 15.93 27.8393 16.11C27.7779 15.5127 27.7161 15.0345 27.7161 14.7967V14.1985V8.34871H30.0984V19.4527H28.2675L19.9006 12.5874C19.7188 12.4083 19.5347 12.2887 19.4124 12.1092C19.2288 11.99 19.1093 11.8709 18.9865 11.6918C19.0474 12.0496 19.0474 12.3483 19.0474 12.7065C19.1093 13.0052 19.1093 13.2429 19.1093 13.4825V19.4527H16.7261Z" fill="#828282"/>-->
            <!--              <path fill-rule="evenodd" clip-rule="evenodd" d="M58.2163 26.6667C58.2163 27.4031 57.6059 28 56.8527 28H34.1254C33.3722 28 32.7617 27.4031 32.7617 26.6667V1.33333C32.7617 0.596889 33.3722 0 34.1254 0H56.8527C57.6059 0 58.2163 0.596889 58.2163 1.33333V26.6667Z" fill="#9F224E"/>-->
            <!--              <path fill-rule="evenodd" clip-rule="evenodd" d="M40.9435 10.7135V11.1579V12.0002H42.5322H47.3072V16.0002H42.5322H40.9435V16.9357V17.3802V18.269V19.6024V20.889H42.5322H54.5799V24.4446H41.9844H36.3981V3.55571H41.9844H54.5799V7.11126H42.5322H40.9435V8.49126V9.8246V10.7135ZM42.3072 8.4446H54.7117C55.4645 8.4446 55.9436 7.89393 55.9436 7.15793V3.60238C55.9436 2.86638 55.4645 2.22238 54.7117 2.22238H41.9844H36.5299C35.7767 2.22238 35.0344 2.86638 35.0344 3.60238V24.4913C35.0344 25.2273 35.7767 25.7779 36.5299 25.7779H41.9844H54.7117C55.4645 25.7779 55.9436 25.2273 55.9436 24.4913V20.9357C55.9436 20.1997 55.4645 19.5557 54.7117 19.5557H42.3072V18.269V17.3335H47.439C48.1917 17.3335 48.6708 16.7828 48.6708 16.0468V12.0468C48.6708 11.3108 48.1917 10.6668 47.439 10.6668H42.3072V9.8246V8.4446Z" fill="white"/>-->
            <!--            </svg>-->
          </div>
        </div>
        <div>
          <span class="time-now">{{ setTimeNow }}</span>
        </div>
        <div class="link-tele">
          <span>Tham gia nhóm telegram</span>
        </div>
        <div class="icon-tele">
          <a target="_blank" href="https://t.me/+0ejZdE8GF6FkMTQ9">
            <svg id="Livello_1" data-name="Livello 1" xmlns="http://www.w3.org/2000/svg"
                 xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 240 240">
              <defs>
                <linearGradient id="linear-gradient" x1="120" y1="240" x2="120" gradientUnits="userSpaceOnUse">
                  <stop offset="0" stop-color="#1d93d2"/>
                  <stop offset="1" stop-color="#38b0e3"/>
                </linearGradient>
              </defs>
              <title>Chứng khoán 4.0 Chat</title>
              <circle cx="120" cy="120" r="120" fill="url(#linear-gradient)"/>
              <path
                d="M81.229,128.772l14.237,39.406s1.78,3.687,3.686,3.687,30.255-29.492,30.255-29.492l31.525-60.89L81.737,118.6Z"
                fill="#c8daea"/>
              <path d="M100.106,138.878l-2.733,29.046s-1.144,8.9,7.754,0,17.415-15.763,17.415-15.763" fill="#a9c6d8"/>
              <path
                d="M81.486,130.178,52.2,120.636s-3.5-1.42-2.373-4.64c.232-.664.7-1.229,2.1-2.2,6.489-4.523,120.106-45.36,120.106-45.36s3.208-1.081,5.1-.362a2.766,2.766,0,0,1,1.885,2.055,9.357,9.357,0,0,1,.254,2.585c-.009.752-.1,1.449-.169,2.542-.692,11.165-21.4,94.493-21.4,94.493s-1.239,4.876-5.678,5.043A8.13,8.13,0,0,1,146.1,172.5c-8.711-7.493-38.819-27.727-45.472-32.177a1.27,1.27,0,0,1-.546-.9c-.093-.469.417-1.05.417-1.05s52.426-46.6,53.821-51.492c.108-.379-.3-.566-.848-.4-3.482,1.281-63.844,39.4-70.506,43.607A3.21,3.21,0,0,1,81.486,130.178Z"
                fill="#fff"/>
            </svg>
          </a>
        </div>
        <span class="icon-qr">
          <el-popover
            placement="top-start"
            trigger="hover">
            <img slot="reference" src="~/assets/images/logo/qr-icon.png">
            <div slot="default">
              <img style="width: 350px; height: 350px" src="~/assets/images/logo/qr-tele.jpeg">
            </div>
          </el-popover>
          </span>
<!--        <div class="mode">-->
<!--          <el-switch-->
<!--            @click="mode = 2"-->
<!--            :active-text="mode === 1 ? 'Sáng' : 'Tối'">-->
<!--          </el-switch>-->
<!--        </div>-->
      </div>
      <div>
        <el-input v-model="textSearch" style="width: 270px" suffix-icon="el-icon-search" size="small"
                  placeholder="Tìm kiếm mã chứng khoán" @change="search()"></el-input>
      </div>
    </div>
  </el-header>
</template>

<script>
import moment from "moment";
import 'moment/locale/vi';

export default {
  name: "Header",
  data() {
    return {
      mode: 1,
      textSearch: '',
      visible: false
    }
  },
  computed: {
    setTimeNow() {
      moment.locale("vi");
      return moment().format('dddd') + ', ' + moment().format('L');
    }
  },
  methods: {
    search() {
      this.$bus.$emit('event-search', this.textSearch);
    }
  }
}
</script>

<style lang="less" scoped>
@import "assets/less/common/color.less";
@import "assets/less/common/header.less";
</style>

<style lang="less">
@import "assets/less/common/color.less";

.el-switch__core {
  height: 17px;
  width: 55px !important;
  //border-color: rgba(167,182,194,.5) !important;
  background-color: @border-switch !important;
}

.el-switch__core:after {
  width: 13px;
  height: 13px;
}

.el-switch__label--right {
  margin-left: -35px;
  span {
    text-align: center;
    font-size: .7rem;
    line-height: 24px;
  }
}

.el-switch__label {
  font-weight: 400;
  height: auto;
}
</style>
