<template>
  <div class="spinner">
    <div class="dot1"></div>
    <div class="dot2"></div>
  </div>
</template>

<script>
export default {
  name: "Spinner",
  props: [''],
  methods: {
  }
}
</script>

<style lang="css" scoped>
  @import "assets/less/common/spinner.less";
</style>
