body {
  font-family: "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", Arial, sans-serif;
  margin: 0;
}

.home-container {
  width: 100%;
  //max-width: 1130px;
  margin: auto;
  padding: 0;

  .home-main-container {
    margin: auto;
    min-width: 800px;
    max-width: 1280px;
    display: grid;
    grid-template-columns: 65% 35%;
  }
}
