<template>
  <div class="project-container">
    <el-form
      :label-position="'top'"
      :rules="rules"
      :model="ruleForm"
      ref="createPosts"
      label-width="250px">
      <el-row :gutter="24">
        <el-col :sm="24" :md="24">
          <el-card class="box-card">
            <el-row :gutter="50">
              <el-col>
                <el-form-item label="Tên bài viết" prop="title" required>
                  <el-input v-model="ruleForm.title"
                            placeholder="Nhập tên bài viết"></el-input>
                </el-form-item>
              </el-col>
              <el-col>
                <el-form-item label="Danh mục" prop="categoryID" required>
                  <el-select class="full-width" v-model="ruleForm.categoryID"
                             placeholder="Danh mục">
                    <el-option
                      :label="category.name"
                      :value="category._id"
                      v-for="category in listCategories"
                      :key="category._id">
                    </el-option>
                  </el-select>
                </el-form-item>
              </el-col>
              <el-col>
                <el-form-item label="Mô tả bài viết" prop="description">
                  <el-input :autosize="{minRows: 4, maxRows: 6}" type="textarea"
                            v-model="ruleForm.description"
                            placeholder="Nhập mô tả bài viết"></el-input>
                </el-form-item>
              </el-col>
              <el-col>
                <el-form-item label="" required>
                  <p>Chi tiết bài viết</p>
                  <ckeditor-nuxt ref="phuong" v-model="contentHolder" :config="editorConfig"/>
                </el-form-item>
              </el-col>
              <el-col>
                <el-form-item label="Ảnh sản phẩm" prop="images">
                  <el-upload
                    ref="upload"
                    action="#"
                    list-type="picture-card"
                    :multiple="false"
                    :auto-upload="false"
                    :file-list="fileList"
                    :on-remove="handleChangeAvatar"
                    :on-change="handleChangeAvatar"
                    :on-preview="handlePictureCardPreview">
                    <template #default>
                      <i class="el-icon-plus"></i>
                    </template>
                  </el-upload>
                  <el-dialog :visible.sync="dialogVisible" @close="() => {this.dialogVisible = false}">
                    <div class="image-avatar">
                      <img style="object-fit: cover; width: 100%" :src="dialogImageUrl" alt=""/>
                    </div>
                  </el-dialog>
                </el-form-item>
              </el-col>
              <el-col :span="24" style="text-align: center">
                <el-form-item>
                  <el-button @click="submitCreatePost('createPosts')" type="primary" plain>
                    {{ type === 'create' ? 'Thêm mới bài viết' : 'Cập nhật bài viết' }}
                  </el-button>
                </el-form-item>
              </el-col>
            </el-row>
          </el-card>
        </el-col>
      </el-row>
    </el-form>
  </div>
</template>

<script>
import UploadAdapter from "../../../plugins/ckeditor-upload-image";
import apiCategories from "../../../apis/category";
import apiUpload from "../../../apis/common";
import detailApi from "../../../apis/news";
import apiPosts from "../../../apis/news";
import {mapGetters} from "vuex";

export default {
  props: {
    type: {
      type: String,
      default: 'create'
    }
  },
  name: "CreatePost",
  layout: 'Admin',
  components: {
    'ckeditor-nuxt': () => {
      if (process.client) {
        return import('@blowstack/ckeditor-nuxt')
      }
    },
  },
  data() {
    return {
      editorConfig: {
        removePlugins: ['Title'],
        extraPlugins: [this.uploader],
      },
      contentHolder: "",
      listCategories: [],
      ruleForm: {
        title: '',
        description: '',
        categoryID: '',
        hasImage: true,
        images: [],
        content: ""
      },
      dialogVisible: false,
      dialogImageUrl: '',
      fileList: [],
      rules: {
        title: [
          {
            required: true,
            message: 'Bạn chưa nhập tên bài viết!',
            trigger: 'change',
          },
          {
            max: 255,
            message: 'Tên dự án vượt quá 500 ký tự!',
            trigger: 'change',
          },
        ],
        description: [
          {
            required: true,
            message: 'Bạn chưa nhập mô tả bài viết!',
            trigger: 'change',
          }
        ],
        categoryID: [
          {
            required: true,
            message: 'Bạn chưa chọn danh mục!',
            trigger: 'change',
          }
        ],
      },
    }
  },
  computed: {
    getPostDetail() {
      return {...this.$store.getters['post/getPostDetail']};
    }
  },
  created() {
    this.getListCategories();
    if (this.type === 'update') {
      this.getDetailPost();
    }
  },
  methods: {
    async getDetailPost() {
      try {
        const dataDetail = await detailApi.detailPost({
          id: this.$route.query.id_post
        });

        console.log(this.$store.getters['post/getPostDetail']);
        this.contentHolder = dataDetail.content;
        this.ruleForm = this.getPostDetail;
        this.fileList = [
          {
            url: this.getPostDetail.images
          }
        ];
        this.ruleForm.images = [
          {
            imageID: null,
            base64Image: null,
            imageUrl: this.getPostDetail.images
          }
        ]
      } catch (e) {
        return this.$message.error('Không lấy được thông tin bài post!');
      }
    },

    uploader(editor) {
      editor.plugins.get('FileRepository').createUploadAdapter = (loader) => {
        return new UploadAdapter(loader);
      };
    },

    async getListCategories() {
      try {
        this.listCategories = await apiCategories.getListCategoryWithAuth({page: this.currentPage});
      } catch (err) {
        console.log('list cate err', err)
      }
    },

    submitCreatePost(formName) {
      this.$refs[formName].validate(async (valid) => {
        if (valid) {
          try {
            this.ruleForm.content = this.contentHolder;

            if (!this.ruleForm.images.length) {
              this.ruleForm.hasImage = false;
            }

            if (!this.ruleForm.content) {
              this.$message.error('Vui lòng điền nội dung bài viết!');
            }

            if (this.type === 'create') {
              const post = await apiPosts.createPost(this.ruleForm);

              if (!post.status) {
                return this.$message.error('Tạo mới bài viết thất bại!');
              }

              this.$message.success('Tạo mới bài viết thành công!');
            } else {
              console.log('123', this.ruleForm)
              const post = await apiPosts.updatePost(this.ruleForm);

              if (!post.status) {
                return this.$message.error('Cập nhật bài viết thất bại!');
              }

              this.$message.success('Cập nhật bài viết thành công!');
            }

            await this.$router.push({path: '/admin/posts'});
          } catch (e) {
            console.log('Lỗi tạo mới dự án', e.message)
            return this.$message.error('Tạo mới dự án thất bại!');
          }
        } else {
          console.log('error submit!!', 'Bạn chưa điền đầy đủ thông tin cần thiết!')
          return this.$message.error('Bạn chưa điền đầy đủ thông tin cần thiết!');
        }
      });
    },

    async handleRemoveAvatar() {

    },

    //Phần liên quan đến chi tiết tài sản ===========================================================
    async handleChangeAvatar(file, fileList) {
      const data = new FormData();
      data.append('files', file.raw);

      try {
        const update = await apiUpload.uploadImage(data)

        this.ruleForm.images = [];
        this.ruleForm.images = [...this.ruleForm.images, {
          imageID: null,
          base64Image: null,
          imageUrl: update.url
        }];
      } catch (e) {
        console.log('upload image', e);
      }
    },

    handlePictureCardPreview(file) {
      this.dialogVisible = true;
      this.dialogImageUrl = file.url;
    },
  }
}
</script>

<style lang="less">
.ql-editor {
  min-height: 300px !important;
}
</style>

<style lang="less" scoped>
.full-width {
  width: 100%;
}

.example {
  display: flex;
  flex-direction: column;

  .editor {
    height: 40rem;
    overflow: hidden;
  }

  .output {
    width: 100%;
    height: 20rem;
    margin: 0;
    border: 1px solid #ccc;
    overflow-y: auto;
    resize: vertical;

    &.code {
      padding: 1rem;
      height: 16rem;
    }

    &.ql-snow {
      border-top: none;
      height: 24rem;
    }
  }
}
</style>
