<template>
  <div class="list-post-body">
    <el-table
      :data="listPost"
      style="width: 100%; margin-bottom: 20px"
      :row-class-name="tableRowClassName"
    >
      <el-table-column label="Tên Bài">
        <template slot-scope="scope">
          <div class="row-post" style="cursor: pointer" @click="getDetailPost(scope.row)">
            <div class="row-avatar">
              <el-avatar shape="square" :size="65" :src="imageFilter(scope.row)"></el-avatar>
            </div>
            <div class="row-title">{{ scope.row.title }}</div>
          </div>
        </template>
      </el-table-column>
      <el-table-column width="230" label="Danh Mục" align="center">
        <template #default="scope">
          <div style="font-weight: 500">
            {{ findCateById(scope.row.categoryObjectID) }}
          </div>
        </template>
      </el-table-column>
      <el-table-column width="200" prop="date" label="Ngày Đăng" align="center">
        <template #default="scope">
          {{ scope.row.date | formatDate('DD-MM-YYYY H:m') }}
        </template>
      </el-table-column>
      <el-table-column width="150" align="right">
        <template #default="scope">
          <el-button size="mini" @click="updatePost(scope.row)">Sửa</el-button>
          <el-button size="mini" type="danger" @click="deletePost(scope.row._id)">Xóa</el-button>
        </template>
      </el-table-column>
    </el-table>
    <div style="text-align: right">
      <el-pagination
        :current-page="currentPage"
        :page-size="20"
        layout="prev, pager, next"
        :total="postPagination.total_record"
        @current-change="getListPosts">
      </el-pagination>
    </div>
    <el-dialog class="detail-container" :visible.sync="visible">
      <div slot="title" style="display: flex">
        <div style="color: #5c7080; cursor: pointer; display: flex; align-items: center" @click="visible = false">
          <svg data-icon="arrow-left" width="16" height="16" viewBox="0 0 16 16">
            <desc>arrow-left</desc>
            <path
              d="M13.99 6.99H4.41L7.7 3.7a1.003 1.003 0 00-1.42-1.42l-5 5a1.014 1.014 0 000 1.42l5 5a1.003 1.003 0 001.42-1.42L4.41 8.99H14c.55 0 1-.45 1-1s-.46-1-1.01-1z"
              fill-rule="evenodd"></path>
          </svg>
        </div>
        <span style="margin-left: 10px; font-size: 18px;font-weight: 600">Chi tiết</span>
      </div>
      <div style="height: 80vh; overflow-y: auto">
        <span class="detail-title">{{ postDetail.title }}</span>
<!--        <p style="color: #5c7080">Tạp chí tài chính | {{ timeSpace }}</p>-->
        <div style="font-size: 18px; padding-top: 10px; line-height: 1.6" v-html="dataDetail.originalContent ? dataDetail.originalContent : dataDetail.content"></div>
      </div>
    </el-dialog>
  </div>
</template>

<script>
import apiPosts from "../../../apis/news"
import detailApi from "../../../apis/news";

export default {
  name: "ListPosts",
  props: ['listCategories'],
  data() {
    return {
      currentPage: 1,
      listPost: [],
      postPagination: [],
      searchCate: '',
      visible: false,
      postDetail: [],
      dataDetail: []
    }
  },
  created() {
    this.getListPosts(1);
  },
  methods: {
    async getDetailPost(row) {
      this.visible = true;
      this.postDetail = row;
      try {
        this.dataDetail = await detailApi.detailPost({
          id: row._id
        });
      } catch (e) {
        return this.$message.error('Không lấy được thông tin bài post!');
      }
    },

    imageFilter(post) {
      if (post.images.length) {
        if (post.images[0].imageUrl) {
          return post.images[0].imageUrl
        } else {
          return 'https://static.fireant.vn/posts/image/' + post.images[0].imageID + '?width=210&height=180';
        }
      } else {
        return ''
      }
    },

    tableRowClassName({row, rowIndex}) {
      if (rowIndex === 1) {
        return 'warning-row'
      } else if (rowIndex === 3) {
        return 'success-row'
      }
      return ''
    },

    async searchPostByCate(cateId = '') {
      this.searchCate = cateId;
      await this.getListPosts(1);
    },

    async getListPosts(page) {
      this.currentPage = page;
      const listPost = await apiPosts.getListPostWithAuth({
        getDataFrom: "web",
        page: this.currentPage,
        categoryObjectID: this.searchCate
      });

      this.postPagination = listPost.paginate;
      this.listPost = listPost.rows;
    },

    findCateById(cateId) {
      let cate = this.listCategories.find((category) => {
        return category._id == cateId
      });

      return cate.name;
    },

    async deletePost(id) {
      try {
        await apiPosts.deletePost({postId: id});
      } catch (err) {
        this.$message.error('Xóa bài viết thất bại!');
        console.log('delete err', err)
      } finally {
        await this.getListPosts();
        this.$message.success('Xóa bài viết thành công!');
      }
    },

    updatePost(row) {
      this.$store.dispatch('post/updateStatePostDetail', {
        id_post: row._id,
        title: row.title,
        categoryID: row.categoryObjectID,
        description: row.description,
        images: this.imageFilter(row)
      });
      this.$router.push({
        path: '/admin/posts/update',
        query: {
          id_post: row._id,
        }
      });
    },
  }
}
</script>

<style lang="less">
.list-post-body {
  .detail-title {
    font-size: 26px;
    font-weight: 600;
    line-height: 1.5;
    margin-bottom: 15px;
    color: #182026;
  }

  .el-table .cell {
    word-break: normal;
  }

  .row-post {
    display: flex;
    align-items: center;

    .row-avatar {
      width: 65px;
      height: 65px;
      display: flex;
      align-items: center;
    }

    .row-title {
      margin-left: 10px;
    }
  }
}
</style>
