<template>
  <el-container class="admin-container" style="height: 100vh">
    <div>
      <el-menu
        style="min-height: calc(100%);"
        :default-active="keyActive"
        class="el-menu-vertical-demo"
        :collapse="isCollapse"
      >
        <div class="header">
          <img v-if="!isCollapse" style="width: 160px; height: 40px; margin-top: 10px"
               src="~/assets/images/logo/logo.png">

          <!--          <svg width="49" height="46" viewBox="0 0 49 46" fill="none" xmlns="http://www.w3.org/2000/svg">-->
          <!--            <path-->
          <!--              d="M20.0559 12.936C20.0559 10.4361 22.0825 8.40955 24.5824 8.40955C27.0823 8.40955 29.1089 10.4361 29.1089 12.936V30.4139C29.1089 32.9138 27.0823 34.9403 24.5824 34.9403C22.0825 34.9403 20.0559 32.9138 20.0559 30.4139V12.936Z"-->
          <!--              fill="#E5E7EB"/>-->
          <!--            <rect x="-2.70461" y="-0.72453" width="13.1064" height="44.1989" rx="6.55319"-->
          <!--                  transform="matrix(0.860947 -0.508694 0.491356 0.870959 2.97992 6.16307)" fill="#E5E7EB" stroke="white"-->
          <!--                  stroke-width="4"/>-->
          <!--            <rect x="-0.739183" y="-2.75931" width="13.1064" height="44.1989" rx="6.55319"-->
          <!--                  transform="matrix(0.860947 0.508694 -0.491356 0.870959 36.7013 3.37603)" fill="#E5E7EB" stroke="white"-->
          <!--                  stroke-width="4"/>-->
          <!--          </svg>-->
        </div>
        <!--        <el-sub-menu index="1">-->
        <!--          <template #title>-->
        <!--            <i class="el-icons-notebook-1"></i>-->
        <!--            <span>Khách hàng</span>-->
        <!--          </template>-->
        <!--          <el-menu-item-group>-->
        <!--            <el-menu-item index="1-1">Danh sách khách hàng</el-menu-item>-->
        <!--            <el-menu-item index="1-2">item two</el-menu-item>-->
        <!--          </el-menu-item-group>-->
        <!--        </el-sub-menu>-->
        <router-link :to="menu.to" v-for="menu in listMenu" :key="menu.key">
          <el-menu-item :index="menu.key">
            <i :class="menu.icon"></i>
            <template #title>{{ menu.name }}</template>
          </el-menu-item>
        </router-link>
      </el-menu>
    </div>

    <el-container>
      <el-header class="fs-12">
        <el-row>
          <el-col :span="12">
            <div class="collapse">
              <el-button plain circle icon="custom-icon el-icon-s-fold" v-if="!isCollapse"
                         @click="changeCollapse"></el-button>
              <el-button plain circle icon="custom-icon el-icon-s-unfold" v-else @click="changeCollapse"></el-button>
            </div>
          </el-col>
          <el-col class="cursor-pointer text-right" :span="12">
            <el-dropdown>
              <span @click="logoutAdmin">Đăng xuất</span>
              <!--              <i class="el-icon-setting" style="margin-left: 15px"></i>-->
              <!--              <template #dropdown>-->
              <!--                <el-dropdown-menu>-->
              <!--                  &lt;!&ndash;                  <el-dropdown-item>Thông tin cá nhân</el-dropdown-item>&ndash;&gt;-->
              <!--                  <el-dropdown-item @click="logoutAdmin">Đăng xuất</el-dropdown-item>-->
              <!--                </el-dropdown-menu>-->
              <!--              </template>-->
            </el-dropdown>
          </el-col>
        </el-row>
      </el-header>

      <el-main style="padding: 24px 72px">
        <Nuxt/>
      </el-main>
    </el-container>
  </el-container>
</template>
<script>
import listMenu from "../config/aside-menu.js"
// import {Fold, Expand} from '@element-plus/icons'
// import {mapGetters} from "vuex";

export default {
  name: "Admin",
  middleware: ['auth-admin'],
  // components: {Fold, Expand},
  data() {
    return {
      listMenu,
    }
  },
  computed: {
    isCollapse() {
      return this.$store.state.auth.isCollapse;
    },
    keyActive() {
      if (this.$route.fullPath.includes('admin/categories')) {
        return '1';
      } else if (this.$route.fullPath.includes('admin/posts')) {
        return '2';
      }
      return "1";
    },
  },
  methods: {
    changeCollapse() {
      this.$store.commit("auth/changeIsCollapse", '');
    },
    logoutAdmin() {
      this.$store.dispatch('auth/AUTH_LOGOUT', this.ruleForm)
    }
  }
}
</script>

<style lang="less">
.el-table th.el-table__cell>.cell {
  color: #262626;
}

.el-table td.el-table__cell div {
  color: rgba(0,0,0,.85);
}

.el-dialog {
  margin-top: 30px !important;
}

</style>

<style lang="less" scoped>
.admin-container {
  .header {
    //background: $backgroundHeader;
    height: 60px;
    --el-menu-border-color: #e6e6e6;
    box-sizing: border-box;
    text-align: center;
    cursor: pointer;
    background: #fff;
  }

  .el-row {
    height: 100%;
  }

  .el-col-12 {
    height: 100%;
  }

  .collapse {
    display: flex;
    height: 100%;
    align-items: center;
  }

  .el-menu-vertical-demo:not(.el-menu--collapse) {
    width: 200px;
    min-height: 400px;
  }

  .el-menu {
    --el-menu-border-color: none;
    background: #001529;
  }

  .el-header {
    //background-color: #b3c0d1;
    color: var(--el-text-color-primary);
    line-height: 60px;
    box-shadow: 0 0 10px -2px gray;
  }

  .el-aside {
    color: var(--el-text-color-primary);
  }

  .el-menu-item-group__title {
    display: none;
  }

  .custom-icon {
    font-size: 3rem;
  }

  .text-right {
    text-align: right;
  }

  .cursor-pointer {
    cursor: pointer;
  }

  .el-menu a {
    text-decoration: none;
  }

  .el-menu-item {
    //margin-top: 20px;
    color: hsla(0, 0%, 100%, .65);
  }

  .el-menu-item i {
    color: hsla(0, 0%, 100%, .65);
  }

  .el-menu-item.is-active {
    color: #fff;
    //background: #1890ff;
  }

  .el-menu-item.is-active i {
    color: hsla(0, 0%, 100%, .65);
  }

  .el-menu-item:focus, .el-menu-item:hover{
    background: #001529;
    color: #fff;

    i {
      color: #fff;
    }
  }

}
</style>
