<template>
  <el-container class="home-container">
    <el-header class="home-container-header">
      <Header></Header>
    </el-header>
    <el-main>
      <Nuxt/>
    </el-main>
    <!--    <el-footer>Footer</el-footer>-->
  </el-container>
</template>

<script>
import Header from "../components/common/Header.vue";

export default {
  name: "Client",
  components: {
    Header,
  },
  head() {
    return {
      bodyAttrs: {
        style: 'margin: 0;'
      }
    }
  },
}
</script>

<style lang="less" scoped>
@import "../assets/less/client/home.less";
</style>

<style lang="less">
.home-container {
  font-family: "Helvetica Neue", Roboto, Helvetica, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", Arial, sans-serif;

  .home-container-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 0 0 1px rgb(16 22 26 / 10%), 0 0 0 rgb(16 22 26 / 0%), 0 1px 1px rgb(16 22 26 / 20%);
    height: 50px !important;
  }

  .el-header {
    padding: 0;
    //border-bottom: 1px solid #e5e5e5;
  }

  .el-main {
    padding: 0;
  }

  .el-header {
    position: fixed;
    width: 100%;
    background-color: #fff;
    z-index: 999;
  }

  .el-main {
    position: absolute;
    top: 50px;
    width: 100%;
  }
}
</style>
