<template>
  <div>
    <el-card class="box-card">
      <el-row class="header">
        <el-col :span="8">
          <p class="title">Danh sách danh mục</p>
        </el-col>
        <el-col :span="16" style="text-align: right">
            <el-button @click="dialogVisible = true" type="primary">Thêm mới</el-button>
        </el-col>
      </el-row>
      <div>
        <ListCategories ref="ListCategories"/>
      </div>
    </el-card>
    <el-dialog
      title="Thêm danh mục"
      :visible.sync="dialogVisible"
      width="30%">
      <p>Tên danh mục</p>
      <el-input v-model="nameCate"></el-input>
      <span slot="footer" class="dialog-footer">
        <el-button @click="dialogVisible = false">Hủy</el-button>
        <el-button type="primary" @click="createCate">Thêm mới</el-button>
      </span>
    </el-dialog>
  </div>
</template>

<script>
import ListCategories from "../../../components/admin/categories/ListCategories";
import apiCategories from "../../../apis/category";

export default {
  name: "categories",
  layout: 'Admin',
  components: {
    ListCategories
  },
  data(){
    return {
      text_search: '',
      dialogVisible: false,
      nameCate: '',
      listCategories: []
    }
  },
  created() {
    this.getListCategories();
  },
  methods: {
    async createCate() {
      try {
        await apiCategories.createCate({name: this.nameCate});
      } catch (err) {
        this.dialogVisible = false;
        this.$message.error('Thêm danh mục thất bại!');
        console.log('create err', err)
      } finally {
        this.dialogVisible = false;
        await this.$refs.ListCategories.getListCategories();
        this.$message.success('Thêm danh mục thành công!');
      }
    },

    async getListCategories() {
      try {
        this.listCategories = await apiCategories.getListCategoryWithAuth({page: this.currentPage});
      } catch (err) {
        console.log('list cate err', err)
      }
    },
  }
}
</script>

<style lang="less" scoped>
  .box-card {
    .header {
      display: flex;
      align-items: center;

      .title {
        color: #000;
        opacity: .85;
        font-size: 20px;
        font-weight: 700;
      }
    }
  }
</style>
