.header-container {
  padding: 8.5px 0;
  min-width: 800px;
  max-width: 1280px;
  margin: auto;
  display: grid;
  align-items: center;
  height: 50px !important;

  .header-left {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .header-logo {
      display: flex;
      align-items: center;

      .main-logo {
        .logo {
          display: flex;
          justify-items: center;
          padding-left: 10px;
        }

        h1 {
          padding-right: 15px;
        }
      }

      .time-now {
        text-transform: capitalize;
        font-size: 14px;
        line-height: 32px;
        color: #757575;
        position: relative;
        margin-left: 20px;
        padding-left: 15px;
        padding-right: 15px;
        float: left;
        border-left: 1px solid @border-color;
        border-right: 1px solid @border-color;
      }

      .link-tele {
        text-transform: capitalize;
        font-size: 14px;
        line-height: 32px;
        color: #757575;
        position: relative;
        padding-left: 15px;
        float: left;
      }

      .icon-tele {
        padding-left: 10px;
        width: 25px;
        height: 25px;
        cursor: pointer;
      }

      .icon-qr {
        padding-left: 10px;
        width: 25px;
        height: 25px;
        cursor: pointer;

        img {
          width: 25px;
          height: 25px;
        }
      }

      .mode {
        margin-left: 15px;
        padding-left: 15px;
        border-left: 1px solid @border-color;
      }
    }
  }
}
