<template>
  <div class="">
    <create-post type="create"></create-post>
  </div>
</template>

<script>

import CreatePost from '../../../components/admin/posts/CreatePost.vue';

export default {
  name: "CreatePostPage",
  layout: 'Admin',
  components: {
    CreatePost
  },
  data() {
    return {}
  },
}
</script>
