<template>
  <div>
    <el-card class="box-card">
      <el-row>
        <el-col :span="6">
          <el-select v-model="text_search" placeholder="Lọc theo danh mục" @change="() => { this.$refs.ListPost.searchPostByCate(text_search) }">
            <el-option
              v-for="item in listCategories"
              :key="item._id"
              :label="item.name"
              :value="item._id">
            </el-option>
            <template #append>
              <el-button icon="el-icon-search"></el-button>
            </template>
          </el-select>
        </el-col>
        <el-col :span="18" style="text-align: right">
          <router-link to="/admin/posts/create">
            <el-button type="primary">Thêm mới</el-button>
          </router-link>
        </el-col>
        <el-col :span="24" style="margin-top: 20px">
          <ListPosts ref="ListPost" :list-categories="listCategories"/>
        </el-col>
      </el-row>
    </el-card>
  </div>
</template>

<script>
import ListPosts from "../../../components/admin/posts/ListPosts";
import apiCategories from "../../../apis/category";

export default {
  name: "index",
  components: {ListPosts},
  layout: 'Admin',
  data(){
    return {
      text_search: '',
      listCategories: []
    }
  },
  created() {
    this.getListCategories();
  },
  methods: {
    async getListCategories() {
      try {
        this.listCategories = await apiCategories.getListCategoryWithAuth({
          page: this.currentPage,
        });
      } catch (err) {
        console.log('list cate err', err)
      }
    },
  }
}
</script>

<style scoped>

</style>
