<template>
  <div>
    <update-post type="update"></update-post>
  </div>
</template>

<script>
import UpdatePost from '../../../components/admin/posts/CreatePost.vue';

export default {
  name: "UpdatePostPage",
  layout: 'Admin',
  components: {
    UpdatePost
  }
}
</script>

<style scoped>

</style>
